{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block css %}
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-register.css' %}">
    {% endblock css %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
            ScrollReveal({ reset: true });
    </script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>    
    {% include 'includes/_Header.html' %}
    
    {% block content %} 
    {% if user.is_authenticated %}
    
    <div class="container-fluid">
        {% for p in pin %}
        <div class="box">
             <a href="{% url 'detay' p.id %}">
              <img src="{{p.resim.url}}" class="" style="border-radius: 16px;" alt="">
        </a>
    </div>       
        {% endfor %}        
    </div>

    
    {% else %}
    <div class="else-index">
        <!-- Kayan yazı animasyonu -->
        <div class="title1">
            <h1>Sıradaki fikri bulun</h1>
        </div>
        <div class="container1">
            <div class="row w-100">
                <div class="offset-lg-2  col-lg-8">
                    <span class="slider-content d-none content1 active" style="color: darkgoldenrod; text-align: center;">hafta içi akşam yemeği fikri</span>
                </div>
                <div class="offset-lg-2 col-lg-8 ">
                    <span class="slider-content d-none content2" style="color: rgb(97, 140, 123); text-align: center;">ev dekorasyonu fikri</span>
                </div>
                <div class="offset-lg-2 col-lg-8">
                    <span class="slider-content d-none content3" style="color: rgb(0, 118, 211); text-align: center;">yeni giyim stili</span>
                </div>
                <div class="offset-lg-2 col-lg-8">
                    <span class="slider-content d-none content4" style="color: rgb(64, 122, 87); text-align: center;">bahçecilik fikri</span>
                </div>
            </div>
            <div class="scroller">
                <ul class="slider-ul" style="display: flex;">
                    <li class="slider-button step1 activeStep"  style="list-style-type: none; background-color: darkgoldenrod;">
                    </li>
                    <li class="slider-button step2" style="list-style-type: none;">
                    </li>
                    <li class="slider-button step3"  style="list-style-type: none;">
                    </li>
                    <li class="slider-button step4"  style="list-style-type: none;">
                    </li>
                    
                </ul>
            </div>
        </div>
        
        <div id="top" class="d-flex">            
            <div data-aos="fade-up"
            data-aos-duration="600" class="top" style="margin-top:280px">                
                <img src="{% static 'img/1b8b52de400ad51e36af7217d2347a83.jpg' %}" style="border-radius: 16px;" alt="">                
            </div>   
            <div data-aos="fade-up"
            data-aos-duration="1000" class="top" style="margin-top:350px">                
                <img src="{% static 'img/a9f90926afdfbff79f6d2a017c8e19dd.jpg ' %}" style="border-radius: 16px;" alt="">              
            </div>  
            <div data-aos="fade-up"
            data-aos-duration="1400" class="top" style="margin-top:420px">                
                <img src="{% static 'img/b8ac51e8e5d9de70114f431574907072.jpg ' %}" style="border-radius: 16px;" alt="">              
            </div> 
            <div data-aos="fade-up"
            data-aos-duration="1800" class="top" style="margin-top:500px">                
                <img src="{% static 'img/a78720c39a39ac50a2856420d636d113.jpg ' %}" style="border-radius: 16px;" alt="">              
            </div> 
            <div class="top" style="margin-top:420px">  
                <div style="z-index:-500;" data-aos="fade-up"
                data-aos-duration="2200">
                    <img  src="{% static 'img/ae91abd87cc085d894a44f6b34c8129c.jpg' %}" style="border-radius: 16px;" alt="">  
                </div>              
                              
            </div>   
            <div data-aos="fade-up"
            data-aos-duration="2600" class="top" style="margin-top:350px">                
                <img src="{% static 'img/b76cfb380344cf5b45ad4696b6f5541b.jpg' %}" style="border-radius: 16px;" alt="">             
            </div>  
            <div data-aos="fade-up"
            data-aos-duration="3000" class="top" style="margin-top:280px">                
                <img src="{% static 'img/3b42b02bf047097582b26401df90cdb3.jpg ' %}" style="border-radius: 16px;" alt="">              
            </div> 
        </div>

        <div id="search">
            <div class="row w-100">
                <div class="col-5 search-left">
                    <img src="{% static 'img/sari.png' %}" alt="">
                </div>
                <div class="col-2">

                </div>
                <div class="col-5 search-right">
                    <h2>Bir fikir arayın</h2>
                    <p>Şimdi ne denemek istersiniz? "Kolay tavuk yemeği" gibi ilgilendiğiniz bir şey düşünün ve neler bulacağınız bakın.</p>
                    <button>keşfet</button>
                </div>
            </div>
            
        </div>
        <div id="save">
            <div class="row w-100">
                <div class="col-5 save-left">
                    <h2>Beğendiğiniz fikirleri kaydedin.</h2>
                    <p>En beğendiğiniz fikirlere daha sonra geri dönmek için kaydedin.</p>
                    <button>keşfet</button>
                </div>                
                <div class="col-7 save-right">
                    <img src="{% static 'img/mavi.png' %}" alt="">
                </div>
            </div>
        </div>
        <div id="shop">
            <div class="row w-100">
                <div class="col-6 shop-left">
                    <img src="{% static 'img/pembe.png' %}" alt="">
                </div>
                <div class="col-6 shop-right">
                    <h2>Gör, üret, dene, yap</h2>
                    <p>Pinterest'in en iyi yanı dünyanın her yerindeki kullanıcılardan yeni şeyler ve fikirler keşfetmek.</p>
                    <button>keşfet</button>
                </div>
            </div>
        </div>
        <div id="bottom">   
            <div class="mt-4">
                <div class="mt-1 mb-1">   
                    <div class="login-wrap">
                        <div class="login-html">
                            <label for="" style="margin-top: 13px; margin-left: 203px;">
                                <img src="/static/img/pinterestlogo.jpg" class="logo"  alt="">
                            </label>
                            <div class="title">
                            <h3 style="text-align: center;">Pinterest'e Hoş Geldiniz</h3>
                            <p style="color: rgb(96,96,96); text-align: center;">Bir sonraki tutkunuzu keşfedin</p>
                        </div>
                            <div class="login-form">
                                <div class="sign-up-htm">
                                    <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="group">
                                                <label class="label">E-posta</label>
                                                <input name="email"  type="email" class="input">
                                            </div>
                                            <div class="group">
                                                <label class="label">Parola</label>
                                                <input name="sifre" type="password" class="input">
                                            </div>
                                            <div class="group">
                                                <label class="label">Doğum tarihi</label>
                                                <input name="date"  type="date" class="input">
                                            </div>                           
                                            
                                        </div>
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Devam et">
                                    </div>           
                                    <h6 style="margin-left: 235px;">VEYA</h6>
                                    <div class="group" style="margin-left: 113px;">
                                        <input type="submit" class="btn btn-primary" value="Facebook ile Devam Et">
                                    </div>      
                                    </form>            
                                    <div class="yazi">              
                                        <p class="alt_yazi">Devam ederek Pinterest'in <b>Hizmet Şartları </b>koşullarını kabul etmiş ve <b>Gizlilik Politikası</b> metnini okuduğunuzu onaylamış olursunuz. 
                                            <b>Veri toplama bildirimi.</b></p> 
                                            <p class="alt_yazi" >Zaten üye misiniz?<a  style="color:rgb(84, 83, 83);" ><b>Oturum aç</b></a></p>                            
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>

  
  <!-- Modal login -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">        
        <div class="modal-body p-0 m-0">  

            <div id="oturumac" class="login-wrap m-0 d-block ">
                <div class="login-html w-100">
                    <label for="" style="margin-top: 17px; margin-left: 208px;">
                        <img src="/static/img/pinterestlogo.jpg" class="logo" alt="">
                    </label>
                    <div class="login-form">
                        
                        <div class="sign-in-htm">
                            <h3 style="text-align: center;">Pinterest'e Hoş Geldiniz</h3>
                            <form action="" method="POST">
                                
                            {% csrf_token %}
                            
                            <div class="group">
                                <label class="label">E-posta</label> <br>
                                <input name="email" type="email" class="input">
                            </div>
                            <div class="group">
                                <label class="label">Parola</label> <br>
                                <input name="sifre" type="password" class="input" data-type="password">
                            </div>          
                            <div class="foot-lnk">
                                <a class="parola">Parolanızı mı unuttunuz ?</a>
                            </div>              
                            <div class="group">
                                <input type="submit" class="button" value="Oturum aç" name="oturumac">
                            </div>
                            <h6 style="margin-left: 235px;">VEYA</h6>
                            <div class="group" style="margin-left: 113px;">
                                <input type="submit" class="btn btn-primary" value="Facebook ile Devam Et">
                            </div>
                            </form>       
                            <div class="yazi">              
                            <p class="alt_yazi">Devam ederek Pinterest'in <b>Hizmet Şartları </b>koşullarını kabul etmiş ve <b>Gizlilik Politikası</b> metnini okuduğunuzu onaylamış olursunuz. 
                                <b>Veri toplama bildirimi.</b></p>
                                <hr>
                            <p class="alt_yazi"><b>Hala Pinterest'te değil misiniz? <a style="cursor: pointer;" onclick="myFunction1()">Kaydolun</a> </b><br>
                                İşletme misiniz?
                                Buradan başlayın!
                                </p>
                            </div>   
                        </div>
                    </div>       
                </div>    
            </div>   

            <div id="kaydol" class="login-wrap m-0 d-block">
                <div class="login-html w-100">
                    <label for="" style="margin-top: 13px; margin-left: 203px;">
                        <img src="/static/img/pinterestlogo.jpg" class="logo"  alt="">
                    </label>
                    <div class="title">
                    <h3 style="text-align: center;">Pinterest'e Hoş Geldiniz</h3>
                    <p style="color: rgb(96,96,96); text-align: center;">Bir sonraki tutkunuzu keşfedin</p>
                </div>
                    <div class="login-form">
                        <div class="sign-up-htm">
                            <form action="" method="POST">
                            {% csrf_token %}                            
                            <div class="row">
                                <div class="col-6">
                                    <div class="group">
                                        <label class="label">E-posta</label>
                                        <input name="email"  type="email" class="input">
                                    </div>
                                    <div class="group">
                                        <label class="label">Parola</label>
                                        <input name="sifre" type="password" class="input">
                                    </div>
                                    <div class="group">
                                        <label class="label">Doğum tarihi</label>
                                        <input name="date"  type="date" class="input">
                                    </div>                           
                                    
                                </div>
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Devam et" >
                            </div>           
                            <h6 style="margin-left: 235px;">VEYA</h6>
                            <div class="group" style="margin-left: 113px;">
                                <input type="submit" class="btn btn-primary" value="Facebook ile Devam Et">
                            </div>      
                            </form>            
                            <div class="yazi">              
                                <p class="alt_yazi">Devam ederek Pinterest'in <b>Hizmet Şartları </b>koşullarını kabul etmiş ve <b>Gizlilik Politikası</b> metnini okuduğunuzu onaylamış olursunuz. 
                                    <b>Veri toplama bildirimi.</b></p> 
                                    <p class="alt_yazi" >Zaten üye misiniz?<a onclick="myFunction()" style="color:rgb(84, 83, 83);cursor: pointer;" ><b>Oturum aç</b></a></p>                            
                        </div>   
                    </div>
                </div>
            </div>

        </div>        
      </div>
    </div>
  </div>
    
    {% endif %}
    
    
    {% endblock content %}


    
    {% block script %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>   
    {% endblock script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script>       
        
        function myFunction() {            
            document.getElementById("kaydol").classList.remove('d-block');
            document.getElementById("oturumac").classList.add('d-block');
        }
        function myFunction1() {            
            document.getElementById("oturumac").classList.remove('d-block');
            document.getElementById("kaydol").classList.add('d-block');
        }
    </script>
</body>
</html>