{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}">
{% endblock css %}

login

{% block header %}
{% endblock header %}

{% block content %}
{% if not user.is_authenticated %}
<div class="mt-1 mb-1">   
    <div class="login-wrap">
        <div class="login-html">
            <label for="" style="margin-top: 17px; margin-left: 208px;">
                <img src="/static/img/pinterestlogo.jpg" class="logo" alt="">
            </label>
            <div class="login-form">
                
                <div class="sign-in-htm">
                    <h3 style="text-align: center;">Pinterest'e Hoş Geldiniz</h3>
                    <form action="" method="POST">
                        
                    {% csrf_token %}
                    
                    <div class="group">
                        <label class="label">E-posta</label> <br>
                        <input name="kullanici" type="email" class="input">
                    </div>
                    <div class="group">
                        <label class="label">Parola</label> <br>
                        <input name="sifre" type="password" class="input" data-type="password">
                    </div>          
                    <div class="foot-lnk">
                        <a class="parola">Parolanızı mı unuttunuz ?</a>
                    </div>              
                    <div class="group">
                        <input type="submit" class="button" value="Oturum aç">
                    </div>
                    <h6 style="margin-left: 235px;">VEYA</h6>
                    <div class="group" style="margin-left: 113px;">
                        <input type="submit" class="btn btn-primary" value="Facebook ile Devam Et">
                    </div>
                    </form>       
                    <div class="yazi">              
                    <p class="alt_yazi">Devam ederek Pinterest'in <b>Hizmet Şartları </b>koşullarını kabul etmiş ve <b>Gizlilik Politikası</b> metnini okuduğunuzu onaylamış olursunuz. 
                        <b>Veri toplama bildirimi.</b></p>
                        <hr>
                    <p class="alt_yazi"><b>Hala Pinterest'te değil misiniz? Kaydolun</b><br>
                        İşletme misiniz?
                        Buradan başlayın!
                        </p>
                    </div>   
                </div>
            </div>       
        </div>    
    </div>
</div>
{% else %}
<h5 class="text-center mt-5 mb-5 text-uppercase">{{user.username}} Olarak Giriş Yaptınız</h5>
{% endif %}
{% endblock content %}