{% extends 'index.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}">
{% endblock css %}

{% block header %}{% endblock header %}
{% block content %}
<div class="mt-1 mb-1 register">   
    <div class="login-wrap">
        <div class="login-html">
            <label for="" style="margin-top: 13px; margin-left: 203px;">
                <img src="/static/img/pinterestlogo.jpg" class="logo"  alt="">
            </label>
            <div class="title">
            <h3 style="text-align: center;">Pinterest'e Hoş Geldiniz</h3>
            <p style="color: rgb(96,96,96); text-align: center;">Bir sonraki tutkunuzu keşfedin</p>
        </div>
            <div class="login-form">
                <div class="sign-up-htm">
                    <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="group">
                                <label class="label">E-posta</label>
                                <input name="email"  type="email" class="input">
                            </div>
                            <div class="group">
                                <label class="label">Parola</label>
                                <input name="sifre" type="password" class="input">
                            </div>
                            <div class="group">
                                <label class="label">Doğum tarihi</label>
                                <input name="date"  type="date" class="input">
                            </div>                           
                            
                        </div>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Devam et">
                    </div>           
                    <h6 style="margin-left: 235px;">VEYA</h6>
                    <div class="group" style="margin-left: 113px;">
                        <input type="submit" class="btn btn-primary" value="Facebook ile Devam Et">
                    </div>      
                    </form>            
                    <div class="yazi">              
                        <p class="alt_yazi">Devam ederek Pinterest'in <b>Hizmet Şartları </b>koşullarını kabul etmiş ve <b>Gizlilik Politikası</b> metnini okuduğunuzu onaylamış olursunuz. 
                            <b>Veri toplama bildirimi.</b></p> 
                            <p class="alt_yazi" >Zaten üye misiniz?<a  style="color:rgb(84, 83, 83);" href="{% url 'login' %}"><b>Oturum aç</b></a></p>                            
                </div>   
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</div>